*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f0f4f8;
}
.layout{
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  overflow: hidden;
}
.sidebar{
  background-color: #1e2a38;
  color: white;
}
.sidebar h2{
  margin:20px;
}
.sidebar a{
  text-decoration: none;
  color: #dde2c6;
}
.sidebar ul li{
  margin-bottom: 20px;
  margin-left: 10px;
}
.sidebar a:hover{
  color: #1e90ff;
}
ul {
  list-style: none;
}
main{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
header{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
}
section{
  margin-top: 20px;
}
section ul li{
  margin-bottom: 20px;
}
button{
  background-color: #1e90ff;
  color: white;
  border: none;
  padding: 8px 12px;
  box-sizing: 5px;
  transition: 0.3s;
}
button:hover{
  background-color: #0f750f;
}
section .span{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 22px;
  background-color: #0f750f;
  color: #fff;

}
.sidebar .link3{
    color:#1e90ff ;
}